@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;
  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;
  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;
  --nord11: #BF616A;
  --nord12: #D08770;
  --nord13: #EBCB8B;
  --nord14: #A3BE8C;
  --nord15: #B48EAD;
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full bg-slate-100 dark:bg-[#242933] text-nord3 dark:text-nord6;
  }

  #root {
    @apply h-full;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  form {
    @apply flex flex-col gap-4 items-center;
  }

  input {
    @apply bg-transparent border-b-[2px] border-nord6 hover:border-nord9 focus:border-nord9 dark:hover:border-nord9 dark:focus:border-nord9 dark:border-nord1 p-1 outline-none;
  }

  button {
    @apply p-1 rounded-sm hover:bg-white dark:hover:bg-nord0;
  }

  a,
  input,
  button {
    @apply transition-colors duration-200;
  }
}

@layer components {
  .submit {
    @apply bg-nord9 hover:bg-nord10 py-1 px-4 border-none rounded-sm text-white dark:text-nord0 font-semibold tracking-wider cursor-pointer;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
