@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg: #242933;
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;
  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;
  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;
  --nord11: #BF616A;
  --nord12: #D08770;
  --nord13: #EBCB8B;
  --nord14: #A3BE8C;
  --nord15: #B48EAD;
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full bg-nord6 dark:bg-dark-bg text-nord0 dark:text-nord6;
  }

  #root {
    @apply h-full;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  form {
    @apply flex flex-col gap-4 items-center;
  }

  input {
    @apply bg-transparent border-b-[2px] border-nord4 hover:border-nord9 focus:border-nord9 dark:hover:border-nord9 dark:focus:border-nord9 dark:border-nord3 p-1 outline-none;
  }

  a,
  input,
  button {
    @apply transition-colors duration-200;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }

  /* Scroll bar */
  body::-webkit-scrollbar {
  width: 1em;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  
  body::-webkit-scrollbar-thumb {
    @apply bg-white dark:bg-nord0;
  }
}

@layer components {
  .submit {
    @apply bg-nord9 hover:bg-nord10 py-1 px-4 border-none rounded-sm text-white dark:text-nord0 font-semibold tracking-wider cursor-pointer;
  }
  .btn-nav {
    @apply p-2 rounded-md hover:bg-white dark:hover:bg-nord0;
  }
  .card {
    @apply bg-white dark:bg-nord0 shadow-sm p-4 rounded-md;
  }
}


/* code mirror custom style */
.Í¼1.cm-editor,
.cm-focued {
  outline: none !important;
}
